<app-menu></app-menu>
<div class="contenBody">
        <div class="container-fluid base pt-4">
            <header class="header">

                <app-banner></app-banner>
                <app-ver-perfil></app-ver-perfil>
                <app-ver-contacto></app-ver-contacto>
            </header>

            <div class="cuerpo">
                <app-ver-experiencia-laboral></app-ver-experiencia-laboral>
                <app-ver-formacion></app-ver-formacion>
                <app-ver-proyectos></app-ver-proyectos>
                <app-ver-habilidades></app-ver-habilidades>
                <app-ver-tecnologias></app-ver-tecnologias>
                <app-ver-idiomas></app-ver-idiomas>
            </div>
        </div>
</div>