<app-menu></app-menu>
<div class="contenBodyEditarCrear">
<div class="row-mt-5" *ngIf="experienciaLaboral">
    <div class="col-md-4 pt-4 mx-auto">
        <form [formGroup]="formEditar" id="crear">
            <div class="form-group">
                <label for="puesto">Puesto</label>
                <input type="puesto" formControlName="puesto"
                    [ngClass]="{'is-invalid':Puesto?.errors && Puesto?.touched, 'is-valid':!Puesto?.errors && Puesto?.touched}"
                    class="form-control" id="puesto" [(ngModel)]="experienciaLaboral.puesto" required>
                <div *ngIf="Puesto?.errors && Puesto?.touched">
                    <p *ngIf="Puesto?.hasError('required')" class="text-danger">
                        El Puesto es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="empresa">Empresa</label>
                <input type="empresa" formControlName="empresa"
                    [ngClass]="{'is-invalid':Empresa?.errors && Empresa?.touched, 'is-valid':!Empresa?.errors && Empresa?.touched}"
                    class="form-control" id="empresa" [(ngModel)]="experienciaLaboral.empresa" required>
                <div *ngIf="Empresa?.errors && Empresa?.touched">
                    <p *ngIf="Empresa?.hasError('required')" class="text-danger">
                        La Empresa es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="pais">País</label>
                <input type="pais" formControlName="pais"
                    [ngClass]="{'is-invalid':Pais?.errors && Pais?.touched, 'is-valid':!Pais?.errors && Pais?.touched}"
                    class="form-control" id="pais" [(ngModel)]="experienciaLaboral.pais" required>
                <div *ngIf="Pais?.errors && Pais?.touched">
                    <p *ngIf="Pais?.hasError('required')" class="text-danger">
                        El País es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="desde">Desde</label>
                <input type="desde" formControlName="desde"
                    [ngClass]="{'is-invalid':Desde?.errors && Desde?.touched, 'is-valid':!Desde?.errors && Desde?.touched}"
                    class="form-control" id="desde" [(ngModel)]="experienciaLaboral.desde" required>
                <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">
                        La fecha de inicio es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="hasta">Hasta</label>
                <input type="hasta" formControlName="hasta"
                    [ngClass]="{'is-invalid':Hasta?.errors && Hasta?.touched, 'is-valid':!Hasta?.errors && Hasta?.touched}"
                    class="form-control" id="hasta" [(ngModel)]="experienciaLaboral.hasta" required>
                <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">
                        La fecha de finalización es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="descripcion" formControlName="descripcion"
                    [ngClass]="{'is-invalid':Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                    class="form-control" id="descripcion" [(ngModel)]="experienciaLaboral.descripcion" required>
                <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                        La Descripción es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="logo">Logo</label>
                <input type="logo" formControlName="logo"
                    [ngClass]="{'is-invalid':Logo?.errors && Logo?.touched, 'is-valid':!Logo?.errors && Logo?.touched}"
                    class="form-control" id="logo" nombre="logo" [(ngModel)]="experienciaLaboral.logo" required>
                <div *ngIf="Logo?.errors && Logo?.touched">
                    <p *ngIf="Logo?.hasError('required')" class="text-danger">
                        El Logo es requerido</p>
                    <br>
                </div>
            </div>
            <form [formGroup]="formEditar" class="m-5" (ngSubmit)="onUpdate($event)" novalidate #f="ngForm">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </form>
    </div>
</div>
</div>