<app-menu></app-menu>
<div class="contenBodyEditarCrear">
<div class="row-mt-5">
    <div class="col-md-4 pt-4 mx-auto">
        <form [formGroup]="form" id="crear">
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="tipo" formControlName="tipo"
                    [ngClass]="{'is-invalid':Tipo?.errors && Tipo?.touched, 'is-valid':!Tipo?.errors && Tipo?.touched}"
                    class="form-control" id="tipo">
                <div *ngIf="Tipo?.errors && Tipo?.touched">
                    <p *ngIf="Tipo?.hasError('required')" class="text-danger">
                        El Tipo de Educación es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="titulo" formControlName="titulo"
                    [ngClass]="{'is-invalid':Titulo?.errors && Titulo?.touched, 'is-valid':!Titulo?.errors && Titulo?.touched}"
                    class="form-control" id="titulo">
                <div *ngIf="Titulo?.errors && Titulo?.touched">
                    <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                        El Título es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="institucion">Instituto</label>
                <input type="institucion" formControlName="institucion"
                    [ngClass]="{'is-invalid':Institucion?.errors && Institucion?.touched, 'is-valid':!Institucion?.errors && Institucion?.touched}"
                    class="form-control" id="institucion">
                <div *ngIf="Institucion?.errors && Institucion?.touched">
                    <p *ngIf="Institucion?.hasError('required')" class="text-danger">
                        La nombre del Instituto es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="lugar">Lugar</label>
                <input type="lugar" formControlName="lugar"
                    [ngClass]="{'is-invalid':Lugar?.errors && Lugar?.touched, 'is-valid':!Lugar?.errors && Lugar?.touched}"
                    class="form-control" id="lugar">
                <div *ngIf="Lugar?.errors && Lugar?.touched">
                    <p *ngIf="Lugar?.hasError('required')" class="text-danger">
                        El Lugar es requerido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="desde">Desde</label>
                <input type="desde" formControlName="desde"
                    [ngClass]="{'is-invalid':Desde?.errors && Desde?.touched, 'is-valid':!Desde?.errors && Desde?.touched}"
                    class="form-control" id="desde">
                <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">
                        La fecha de inicio es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="hasta">Hasta</label>
                <input type="hasta" formControlName="hasta"
                    [ngClass]="{'is-invalid':Hasta?.errors && Hasta?.touched, 'is-valid':!Hasta?.errors && Hasta?.touched}"
                    class="form-control" id="hasta" hasta="hasta">
                <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">
                        La fecha de finalización es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="observacion">Observación</label>
                <input type="observacion" formControlName="observacion"
                    [ngClass]="{'is-invalid':Observacion?.errors && Observacion?.touched, 'is-valid':!Observacion?.errors && Observacion?.touched}"
                    class="form-control" id="observacion">
                <div *ngIf="Observacion?.errors && Observacion?.touched">
                    <p *ngIf="Observacion?.hasError('required')" class="text-danger">
                        La Observación es requerida</p>
                </div>
            </div>
            <div class="form-group">
                <label for="logo">Logo</label>
                <input type="logo" formControlName="logo"
                    [ngClass]="{'is-invalid':Logo?.errors && Logo?.touched, 'is-valid':!Logo?.errors && Logo?.touched}"
                    class="form-control" id="logo" nombre="logo">
                <div *ngIf="Logo?.errors && Logo?.touched">
                    <p *ngIf="Logo?.hasError('required')" class="text-danger">
                        El Logo es requerido</p>
                    <br>
                </div>
            </div>
            <form [formGroup]="form" class="m-5" (ngSubmit)="onCreate($event)" novalidate #f="ngForm">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </form>
    </div>
</div>
</div>