* {
    margin: 0%;
    padding:0%;
}

body {
    display: block;   
}

p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 0% 5%;
    color: #2f3640;
}

.cuerpo {
    padding-bottom: 30px;
}
.base {
    background-color: #c6cee9;
}

.logoAP {
    background-color: black;
}

#profil {
    width: 50%;
    height: 95%;
    border-style:inset;
    border-radius: 50%;
    margin-left: 15%;
    float:left;
    border-color:rgb(106, 134, 160);
}

.idLogo {
    font-size: small;
}

#description {
    padding-top:0;
    padding-right: 60px;
    padding-left: 30px;
}

.card {
    margin-right:35px;
    margin-left:35px;
    border-radius: 32px 32px 0 0;
    display: flex;
    word-wrap: break-word;
}

.list-info img {
    display: block;
    padding-left: 0%;
    padding-right: 20px;
    margin-left: 0%;
    width: 60px;
    height: 50px;
}

.card-titles h2 {
    padding-top: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #054aaa;
}

.btn-edit {
    padding-top: 15px;
}

.list-info h3 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #2f3640;
    
}

.list-info p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #2f3640;
}

.descripcion p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    padding-right: 5%;
    color: #054aaa;
    text-align: justify;
}