* {
    margin: 0%;
    padding: 0%;
}

.contenBody {
    background-image: url(src/assets/Imagenes/8.jpg);
    width: 100%;
    height: fit-content;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenBody:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    opacity: 0.8;
}

.contenBody p,
h1,
h2,
h3,
h4 img,
button a,
i,
.cardT,
.car .form-group {
    position: relative;
}



.contenBodyLogin {
    background-image: url(src/assets/Imagenes/8.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenBodyLogin:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    opacity: 0.8;
}

.contenBodyLogin p,
h1,
h2,
h3,
h4 img,
button a,
i,
.cardT,
.car .form-group {
    position: relative;
}

.contenBodyEditarCrear {
    background-image: url(src/assets/Imagenes/8.jpg);
    width: 100%;
    height: 615px;
    background-size: cover;
    position: relative;

    justify-content: center;
    align-items: center;
}

.contenBodyEditarCrear:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    opacity: 0.8;
}

.contenBodyEditarCrear p,
h1,
h2,
h3,
h4 img,
button a,
i,
.cardT,
.car .form-group {
    position: relative;
}

.form-group,
button {
    position: relative;

}

body {
    display: block;
}

p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 0% 5%;
    color: #2f3640;
}

.cuerpo {
    padding-bottom: 30px;
}

.fa-solid,
.fa-regular {
    color: #2f3640;
    opacity: 0.7;
}



/* foto perfil */

#profil {
    width: 40%;
    height: 40%;
    border-style: outset;
    border-radius: 50%;
    margin-right: 0%;
    margin-left: 15%;
    border-color: turquoise;
}

/* letras logo argentina programa */
.idLogo {
    font-size: small;
}

.logoAP {
    background-color: black;
}

/* habilidades-formacion-lenguajes-tecnologias-experienciaL-proyecto */
.cardT {
    border-style: ridge;
    border-color: gray;
    background-color: white;
}

.list-info img {
    display: block;
    padding-left: 0%;
    padding-right: 20px;
    margin-left: 0%;
    width: 65px;
    height: 50px;
}

.card-titles h2 {
    padding-top: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #054aaa;
}

.btn-edit {
    padding-top: 15px;
}

.list-info h3 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #2f3640;

}

.list-info h4 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #054aaa;

}

.list-info p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: #2f3640;
}

/* proyecto */

#proy {
    display: block;
    padding-left: 0%;
    padding-right: 20px;
    margin-left: 0%;
    width: initial;
}

.link {
    font-size: 14px;
    font-style: italic;
}

.carousel-inner img {
    border-style: outset;
    border-color: turquoise;
}